div {
  text-shadow: red 2px 2px 3px;
  font-size: 50px;
  font-weight: 300;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: oblique;
  text-transform: uppercase;

  border-style: solid;
  border-color: green;
  outline: solid yellow;
  outline-offset: 5px;
}
h1:hover {
  border-style: solid;
  border-color: blue;
  outline: solid red;
  outline-offset: 5px;
  margin: 40px;
  border-radius: 5px 10px 20px 50px;
  padding-left: 50px;
}
body {
  background-color: red;
  background-image: radial-gradient(
      rgb(255, 255, 0, 0.45),
      rgba(60, 193, 255, 0.35)
    ),
    url("./island-7232868__340.webp");

  background-repeat: no-repeat;
  background-size: 100%, 100%;
  background-attachment: fixed;
}
