.props {
  color: red;
}
#jsp {
  color: yellow;
}

h1:hover {
  color: green;
  display: inline-flex;
  border: solid;
  transition: 2s;
}

h2:hover {
  color: blue;
  display: inline-flex;
  border: green;
  transition: 2s;
}
